<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'link:cut' %}">Linkshorter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'link:history' %}">История <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

</header>
<body>
    {% if links%}
        {% for link in links %}
            <div class="card" style="width: 18rem;   max-width: 500px; margin: auto;">
              <div class="card-body">
                <h5 class="card-title">Ссылка</h5>
                <p class="card-text">{{ link.old_link }}</p>
                <a href={% url 'link:redirect_old' link.id %} target="_blank" class="card-text">{{ link.new_link }}</a>
                <p class="card-text">{{ link.created }}</p>
              </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
    {% if form %}
        <form action="{% url 'link:cut' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" placeholder="Search" class="btn btn-success">Сократить</button>

        </form>
        {% if link %}
            <br>
            <div class="card" style="width: 18rem;   max-width: 500px; margin: auto;">
              <div class="card-body">
                <h5 class="card-title">Ссылка</h5>
                <p class="card-text">{{ link.old_link }}</p>
                <a href={% url 'link:redirect_old' link.id %} target="_blank" class="card-text">{{ link.new_link }}</a>
              </div>
            </div>
            <br>
        {% endif %}
    {% endif %}

</body>
<footer>


</footer>